html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    height: 100px;
    background-color: rgb(20, 184, 173);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.logo-container{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-container img{
    width: 80px;
    height: 80px;
}
.menu{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    width: 50%;
}
.menu a{

}
.basket{
    display: flex;
    align-items: center;
}
.basket img{
    width: 50px;
    height: 50px;
}
main{
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 250px;
    box-sizing: border-box;
    flex: 1;

}
.catalog{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    width: 300px;
    height: 400px;
    margin: 30px 20px;
    padding-bottom: 20px;
}
.product img{
    object-fit: cover;
    width: 100%;
    height: 200px;

}
.product-name{
    font-size: 24px;

}
.product-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.product-price{
    font-size: 26px;
}
.product-button{
    display: inline-block;
    font-size: 22;
    font-weight: 600;
    padding: 6px 12px;
    height: fit-content;
}
.basket-list{
    display: flex;
    flex-direction: column;
    width: 60%;
    border: 2px solid black;
    font-size: 20px;
    margin-bottom: 20px;
}
.delete{
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50;
    width: 50;
}
.sumprice{
    font-size: 24px;
    font-weight: 600;
    
}